LocalServer/Server/PatientInfo/Patient_01_05/doctor.xml

 <?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Doctor">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="dr_specialization" type="xs:string"/>
      <xs:element name="drId" type="xs:string"/>
      <xs:element name="doctor_name" type="xs:string"/>
      <xs:element name="dr_type" type="xs:string"/>
	  <xs:element name="dr_organization" type="xs:string"/>
		<xs:element name="dr_address_type" type="xs:string"/>
		<xs:element name="dr_address" type="xs:string"/>
		<xs:element name="dr_city_town_vill_ps" type="xs:string"/>
		<xs:element name="dr _district" type="xs:string"/>
		<xs:element name="dr _state" type="xs:string"/>
		<xs:element name="dr _pin" type="xs:string"/>
		<xs:element name="dr _country_code" type="xs:string"/>
		<xs:element name="dr _email_id" type="xs:string"/>
		<xs:element name="dr_mob" type="xs:string"/>
		<xs:element name="dr_ll" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>


